body{

    background-color: #3493;
    
}

.container{
    max-width: 400px;
    margin: 200px auto;
    padding: 20px;;
    background-color: #3493;
    border: 2px solid #1e5f8a;
    border-radius: 5px;
    box-shadow: 2px 10px 10px rgba(0, o, o, 0.6);

}

h2{
    margin-top: 0;
    color: black;
    text-align: center;
    text-decoration: underline;

}

form{
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

label{
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: large;
    font-weight: 600px;
    color: black;
}

input[type="number"],select{
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: rgba(0,0,0,0.4);
    color: #1e5f8a;
}

input[type="number"]:focus,select:focus{
    outline: none;
    box-shadow: 0px 0px 5px #1e5f8a;
}

select{
    width: 100%;
}

input[type="submit"]{
    padding: 10px;
    margin-top: 5px;
    background-color: #D1E8E2;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    transition: background-color 0.7s ease;
}

input[type="submit"]:hover{

    background-color:#1e5f8a ;

}


#result{
    font-weight: bold;
    margin-top: 20px;
    color: black ;
}